.experiences-container {
  background-color: #000000;
}

.experiences-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  background-color: #ffffff;
  border-radius: 60px 60px 0 0;
}

.experiences-heading {
  text-align: center;
  font-size: 42px;
  font-weight: 600;
}

.experiences-subheading {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin: 0 10px;
}

.experiences-timeline {
  width: 80%;
  margin: 0 auto;
  margin-top: 4rem;
  padding-top: 2rem;
  position: relative;
  overflow: hidden;
}

.experiences-box {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  margin-bottom: 20px;
}

.experiences-text_box {
  padding: 2rem;
  box-shadow:
    inset 0 0.361px 0.181px -1.25px rgba(0, 0, 0, 0.18),
    inset 0 1.373px 0.687px -2.5px rgba(0, 0, 0, 0.16),
    inset 0 6px 3px -3.75px rgba(0, 0, 0, 0.06),
    inset 0 0.422px 0.422px -1.25px hsla(0, 0%, 100%, 0.18),
    inset 0 1.602px 1.602px -2.5px hsla(0, 0%, 100%, 0.16),
    inset 0 7px 7px -3.75px hsla(0, 0%, 100%, 0.06),
    0 0.652px 0.652px -0.2px rgba(0, 0, 0, 0.02),
    0 1.776px 1.776px -0.4px rgba(0, 0, 0, 0.02),
    0 3.899px 3.899px -0.6px rgba(0, 0, 0, 0.03),
    0 8.655px 8.655px -0.8px rgba(0, 0, 0, 0.04),
    0 22px 22px -1px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.125);
  position: relative;
  border-radius: 16px;
}

.experiences-text_box img {
  width: 100%;
  margin: 1rem auto;
  display: block;
  border-radius: 10px;
}

.experiences-text_box img:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

.experiences-left_box {
  left: 0;
}

.experiences-right_box {
  left: 50%;
}

.experiences-icons {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: -25px;
  top: 32px;
  z-index: 10;
  border: 1px solid;
}

.experiences-right_box .experiences-icons {
  left: -25px;
}

.experiences-timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgb(230, 0, 255),
    rgb(132, 0, 255)
  ) !important;
  top: 0;
  left: 50%;
  margin-left: -3px;
}

.experiences-title {
  font-size: 24px;
  font-weight: 600;
}

.experiences-subtitle {
  font-size: 18px;
  font-weight: 500;
}

.experiences-description {
  font-size: 16px;
}

.experiences-tags_box {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.experiences-tags {
  font-size: 14px;
  padding: 2px 6px;
  margin: 2px;
  border-radius: 12px;
  border: 1px solid rgb(133, 76, 230);
  color: rgb(133, 76, 230);
}

.experiences-button_box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.experiences-button_box a {
  flex: 1;
  min-width: fit-content;
  font-weight: 500;
  text-align: center;
  padding: 7px;
  margin: 5px;
  text-decoration: none;
  background-color: rgb(133, 76, 230);
  box-shadow: rgb(31, 38, 52) 0 0 60px;
  color: rgb(242, 243, 244);
  border-radius: 12px;
  transition: all ease-in-out 0.5s;
}

.experiences-button_box a:hover {
  background-color: rgba(133, 76, 230, 0.7);
  transition: all ease-in-out 0.5s;
}

.experiences-left_box_arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 33px;
  z-index: -1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid rgba(17, 25, 40, 0.83);
  right: -15px;
}

.experiences-right_box_arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 33px;
  z-index: -1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid rgba(17, 25, 40, 0.83);
  left: -15px;
}

/* ----------------------------- Responsive Style ---------------------------- */

@media (max-width: 1440px) {
  .experiences-timeline {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .experiences-timeline {
    width: 90%;
  }
}

@media (max-width: 868px) {
  .experiences-section {
    border-radius: 50px 50px 0 0;
  }

  .experiences-timeline {
    width: 95%;
  }

  .experiences-heading {
    font-size: 32px;
  }

  .experiences-timeline::after {
    left: 31px;
  }

  .experiences-box {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .experiences-right_box {
    left: 0;
  }

  .experiences-left_box .experiences-icons,
  .experiences-right_box .experiences-icons {
    left: 10px;
  }

  .experiences-left_box_arrow,
  .experiences-right_box_arrow {
    border-right: 15px solid rgba(17, 25, 40, 0.83);
    border-left: 0;
    left: -15px;
  }
}

@media (max-width: 480px) {
  .experiences-section {
    border-radius: 40px 40px 0 0;
  }

  .experiences-timeline {
    width: 100%;
  }

  .experiences-text_box {
    padding: 2rem 1rem;
  }
}
