.about-container {
  background-color: #000000;
}

.about-section {
  position: relative;
  text-align: center;
  padding: 5rem 0;
  background-color: #ffffff;
  border-radius: 50px 50px 0 0;
}

.about-content {
  position: relative;
  z-index: 1;
  width: 80%;
  padding: 0 10px;
  margin: 0 auto;
}

.about-content h2 {
  font-size: 42px;
  margin-bottom: 1rem;
}

.about-content p {
  font-size: 18px;
  line-height: 1.7;
}

/* ----------------------------- Responsive Style ---------------------------- */

@media (max-width: 1440px) {
  .about-content {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .about-content {
    width: 90%;
  }
}

@media (max-width: 868px) {
  .about-section {
    border-radius: 40px 40px 0 0;
  }

  .about-content {
    width: 95%;
  }
}

@media (max-width: 480px) {
  .about-section {
    border-radius: 30px 30px 0 0;
  }

  .about-content {
    width: 100%;
  }

  .about-content h2 {
    font-size: 32px;
  }
}
