.navbar-main {
  padding: 1.5rem 2rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar-container {
  z-index: 1000;
  top: 0;
  width: 100%;
  background-color: #000000;
  color: white;
  position: fixed;
}

.navbar-name {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.navbar-brackets {
  color: #feb122;
  font-size: 32px;
}

.navbar-slash {
  color: #feb122;
}

.navbar-menu_icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.navbar-collapse {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar-anchor {
  color: white;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}

.navbar-anchor:hover {
  color: #feb122;
  transition: all ease-in-out 0.3s;
}

.navbar-github {
  width: fit-content;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  background: linear-gradient(to right, rgb(230, 0, 255), rgb(132, 0, 255));
  box-shadow: rgb(31, 38, 52) 0 0 60px;
}

.navbar-github:hover {
  color: rgb(230, 0, 255);
  background: #ffffff;
}

.navbar-active {
  color: #feb122;
  text-decoration: none;
}

.navbar-dropdown {
  display: none;
  position: absolute;
  width: 100%;
  /* background-color: rgb(19, 19, 31); */
  background-color: rgba(19, 19, 31, 0.7);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.navbar-dropdown li {
  list-style-type: none;
  padding: 5px 30px;
}

.navbar-dropdown li:last-child {
  padding: 15px 30px;
}

/* ----------------------------- Responsive Style ---------------------------- */

@media (max-width: 1440px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 868px) {
  .navbar-collapse {
    display: none;
  }
  .navbar-menu_icon {
    display: block;
  }
  .navbar-dropdown {
    display: block;
    background-color: rgb(10, 10, 38);
    padding: 1rem 0;
  }
}

@media (max-width: 480px) {
}

@media (max-width: 800px) {
}
